<li class="placeslist" data-placeid=<%=map_place.id%>  data-place_lng=<%= map_place.place.longitude%> data-place_lat=<%= map_place.place.latitude%> >
  <strong><%= map_place.place.title %></strong>
</li>
