<h1> @map  <%= @map.name %> </h1>
<h4> Map created by <%= @creator.email%></h4>

<p> Coordinates of the city:</p>
<ul>
  <li>longitude: <%= @map.longitude%></li>
  <li>latitude: <%= @map.latitude%></li>
</ul>
