<div class="container-fluid">
  <div class="row">
        <div class="col-md-4">
              <h4> Hello <%= @user.email %> </h4>

        </div>

        <div class="col-md-8">
            <img src="/googlemapsfrance.jpg" alt="Carte France Europe">
        </div>


 </div>











</div>
