<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, marco</h1>
    <p>
      Your friend send you a map!
    </p>
    <p>
      To access to this map, follow this link:
        // url with id map //
    </p>

    <p>Thanks for using our sharing map application and have a great day!</p>
  </body>
</html>
