// Place all the styles related to the map_place controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header_listPlacesMap * {
  display: inline-block;
  vertical-align: middle;
}

.col-place-info{
  max-height: 90vh;
}

@media only screen and (max-width : 767px) {
    .col-place-info {
          height: 400px;
    }

}


.placeslist {
padding: 0 7px;
}

.box-map-place {
margin: auto;
background-color:  white;
padding: 7px 7px 7px 7px;
width: 98%;
-webkit-border-radius:  14px 14px 0 0;
-moz-border-radius:  14px 14px 0 0;
border-radius: 14px 14px 0 0;
border-bottom: solid 2px #888888;
}


.box-map-place-content {
  margin: auto;
  margin-bottom: 5px;
  background-color:  white;
  padding: 7px 7px 7px 7px;
  width: 98%;
  -webkit-border-radius: 0 0 14px 14px;
  -moz-border-radius: 0 0 14px 14px;
  border-radius: 0 0 14px 14px;
}




  // .show-place-inf * {
  //   display: inline-block;
  //   vertical-align: middle;
  // }









.sprite_category {
  display: inline-block;
  margin: 2px;
  width: 45px;
  height: 44px;

  background-size: 720px 67px;
  background-image: url(categorypin.svg);
  background-repeat: no-repeat;
  background-position: 0 0; // negative ingrement -45

  border: solid 2px #A3A3FF;
  // -webkit-border-radius: 5px 0px 0px 0px;
  // -moz-border-radius: 5px 0px 0px 0px;
  border-radius: 15%;

// tilt effect
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.sprite_category:hover {
  -webkit-transform: rotate(-360deg);
     -moz-transform: rotate(-360deg);
       -o-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotate(-360deg);
    cursor: pointer;
}

.sprite_category-1 {
  background-position: 0 0;
}

.sprite_category-2 {
  background-position: -45px 0;
}
.sprite_category-3 {
  background-position: -90px 0;
}
.sprite_category-4 {
  background-position: -135px 0;
}
.sprite_category-5 {
  background-position: -180px 0;
}
.sprite_category-6 {
  background-position: -225px 0;
}
.sprite_category-7 {
  background-position: -270px 0;
}
.sprite_category-8 {
  background-position: -315px 0;
}
.sprite_category-9 {
  background-position: -360px 0;
}
.sprite_category-10 {
  background-position: -405px 0;
}
.sprite_category-11 {
  background-position: -450px 0;
}

.sprite_category-12 {
  background-position: -495px 0;
}
.sprite_category-13 {
  background-position: -540px 0;
}
.sprite_category-14 {
  background-position: -585px 0;
}
.sprite_category-15 {
  background-position: -630px 0;
}
.sprite_category-16 {
  background-position: -675px 0;
}


.box-map-place:hover, .box-map-place:hover  h4, .box-map-place:hover  .sprite_category   {
box-shadow: 0 8px 10px 0 rgba(216, 101, 75, 0.8), 0 6px 20px 0 rgba(216, 101, 75, 0.6);
}


.box-map-place-focus, .box-map-place-focus  h4, .box-map-place-focus  .sprite_category   {
box-shadow: 0 8px 10px 0 rgba(216, 101, 75, 0.8), 0 6px 20px 0 rgba(216, 101, 75, 0.6);
}
